{% extends 'base.html.twig' %}

{% block title %}Inscription | Colabo{% endblock %}

{% block body %}

<div class="justify-center flex items-center bg-blue-500 shadow-lg">
    <div class=" bg-white rounded shadow-2xl p-5 m-4 flex-wrap justify-center justify-between">
    {{ form_start(registrationForm) }}
        <div class="w-full px-3 mb-6 md:mb-0">
            {{ form_row(registrationForm.nom, {label: 'Nom : '}) }}
        </div>
        <div class="w-full px-3 mb-6 md:mb-0">
            {{ form_row(registrationForm.prenom, {label: 'Prenom : '}) }}
        </div>
        <div class="w-full px-3 mb-6 md:mb-0">
        {{ form_row(registrationForm.username, {label: 'Identifiant : '}) }}
        </div>
        <div class="w-full px-3 mb-6 md:mb-0">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe : '
        }) }}
        </div>
        <div class="w-full px-3 mb-6 md:mb-0">
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Acceptez les termes'
        }) }}
        </div>
        <button type="submit" class="justify-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Register</button>
    </div>
</div>

    {{ form_end(registrationForm) }}
{% endblock %}
