{% extends 'base.html.twig' %}
{% block title %}Accueil | Colaboration{% endblock %}


{% block body %}
    {% if tabs|length() == 0 %}
        <div class="bg-indigo-600 text-center py-3 lg:px-4 rounded-3xl">
            <div class="p-2 bg-indigo-800 items-center text-indigo-100 leading-none lg:rounded-full flex lg:inline-flex"
                 role="alert">
                <span class="flex rounded-full bg-indigo-500 uppercase px-2 py-1 text-xs font-bold mr-3">New</span>
                <button onclick="location.href='{{ path('app_new_tabs') }}'"
                        class="font-semibold mr-2 text-left flex-auto">Il n'existe pour le moment aucun tableau,
                    n'hésiter pas à en créer un!
                </button>
                <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/>
                </svg>
            </div>
        </div> {# Message indiquant qu'il n'existe pas encore de tableau #}
    {% else %}
        <div id="tableaushow" class="flex flex-wrap flex justify-center mt-50 space-x-2" style="height: 10em">
            {% for tabs in tabs %}
                <article>
                    <div id="tabsshow" class="tableau mb-2 rounded overflow-y-auto shadow-md"
                         style="min-width: 200px; min-height: 110px; max-width: 350px; max-height: 150px;">
                        <div class="px-6 py-4">
                            {% if tabs.typeTabs == 'stock' %}
                                <a href="tabs/{{ tabs.id }}"
                                   class="font-bold text-xl mb-2 text-blue-500">{{ tabs.libelle }}</a>
                            {% elseif tabs.typeTabs == 'taches' %}
                                <a href="tache/tabs/{{ tabs.id }}"
                                   class="font-bold text-xl mb-2 text-blue-500">{{ tabs.libelle }}</a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <p class="text-gray-200">{{ tabs.idUserCreate }}</p>
                            {% endif %}
                            <p class="text-gray-700 text-base mt-2 overflow-x-auto">
                                {{ tabs.description }}
                            </p>
                            <p class="text-gray-700 text-base mt-2">
                                <a href="/deleteTabs/{{ tabs.id }}"
                                   class="px-4 py-1 text-sm text-red-400 bg-red-200 rounded-full">🗑️</a>
                                <a href="/updateTabs/{{ tabs.id }}"
                                   class="px-4 py-1 text-sm text-green-400 bg-green-200 rounded-full">✏️</a>
                            </p>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
